:root {
  --color-bg: #dfdfdf;
  --color-bg-content: #ffffff;
  --color-header: #706eec;
  --color-footer: #706eec;
  --color-text-default: #303e8c;
  --color-text-dark: #706eec;
  --color-text-light: #ffffff;
  --color-text-header: #ffffff;
  --color-anchor-normal: #303e8c;
  --color-anchor-hover: #706eec;
  --padding-content: 1rem;
  --margin-content: 1rem;
  --font-size-default: 1rem;
  --font-size-medium: 1.2rem;
  --font-size-bigger: 2rem;
  --font-size-big: 1.5rem;
  --font-size-small: 0.8rem;
  --font-size-smaller: 0.5rem;
  --width-content-sm: 100%;
  --width-content-md: 640px;
  --width-content-lg: 960px;
}