@import 'defines.scss';

@mixin sm {
  @media screen and (max-width: 480px) {
    @content
  }
}

@mixin md {
  @media screen and (min-width: 481px) and (max-width: 999px) {
    @content
  }
}

@mixin md-lg {
  @media screen and (min-width: 481px) {
    @content
  }
}

@mixin lg {
  @media screen and (min-width: 1000px) {
    @content
  }
}

@mixin center-v {
  display: flex;
  align-items: center !important;
}

@mixin center-v-child {
  //position: absolute;
  //top: 50%;
  //transform: translateY(-50%);
}

@mixin center-h {
  display: flex;
  justify-content: center !important;
}

@mixin center-h-child {
  //position: absolute;
  //left: 50%;
  //transform: translateX(-50%);
}

@mixin padding-normal {
  padding: var(--padding-content);
}

@mixin margin-normal {
  margin: var(--padding-content);
}
